
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}

* {
    font-family: 'Poppins', sans-serif;
  }


.social-icons a {
  display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
width: 40px;
height: 40px;
border-radius: 50%;
font-size: 18px;
text-decoration: none;
transition: background-color 0.3s, color 0.3s;
filter: drop-shadow(2px 5px 3px black);
}

.social-icons a:hover {
  background-color: #ddd;
  color: #000;
}

body { font-family: Arial, sans-serif; margin: 0; padding: 0; background: #111; color: white; text-align: center; 
 
}
.page { 
  display: none; 

  padding-bottom: 0px;
  height: 100vh;
  background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
#page2{
  background: #df0000;
  padding: 0;
}
#page3{
  background: white;
}
.active { display: block; }
.logo {
 background: #df0000;
    border-radius: 0px 0px 25px 25px;
    filter: drop-shadow(0px -4px 8px gray);}
    .logo img{
          width: 23vw;
    margin-top: 7px;
    }
/* .social-buttons { margin: 20px 0; } */
.social-buttons button {
  /* margin: 5px; */
  padding: 10px 20px;
  background: #df0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bg-layer{
  background-color: #1d1d1ba3;
width: fit-content;
margin: 0 auto;
border-radius: 20px 20px 20px 20px;
padding-top: 8px;
padding-bottom: 20px;
scale: 0.8;
margin-top: -15px;
}
input[type="text"] {
  padding: 10px;
  border-radius: 25px;
  border: none;
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
}
input::placeholder{
  text-align: center;

}
.ad-box {
  width: 300px;
  height: 250px;
  margin: 20px auto;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.popup-content {
  background: #222;
 
  position: relative;
  border-radius: 8px;
  color: white;
}
.popup-close {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
.connect-button {
  padding: 12px 30px;
  background: white;
  color: red;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  /* margin-top: 20px; */
}

.timer-circle {
  margin-top: 20px;
  margin-right: 39px;
  position: absolute;
  right: 0;
  font-size: small;
}
.special-offer { margin: 20px 0; }
.menu-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: #df0000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: self-start;
 
  width: 100vw;
  overflow: hidden;
}

video {
  height: 320px;
  width: auto;
  max-width: 100vw;
  object-fit: contain;
  display: block; /* Removes inline spacing issues */
  /* border-radius: 6px; */
  margin-top: 60px;
}

@media (max-width: 768px) {
  video {
    width: 320px;
    height: auto;
    margin-top: 60px;
  }
}


img.responsive-img {
  width: 320px;
    border-radius: 20px;
    height: auto;
}

@media (min-width: 768px) {
  img.responsive-img {
    width: 20vw; /* Desktop */
  }
}


img.responsive-img-pop {
  width: 92vw; /* Default for mobile */
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  img.responsive-img-pop {
    width: 40vw; /* Desktop */
  }
}

.footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 2px;
  font-family: sans-serif;
  font-size: x-small;
    
}

.footer h3 {
  font-size: x-small;
  margin-bottom: 5px;
}

/* .footer h3::after {
  content: '';
  display: block;
  width: 30px !important;
  height: 3px !important;
  background-color: #df0000;
  margin-top: 5px !important;
  margin: 0 auto !important;
  
} */

.footer p {
  margin: 5px 0;
}

.footer .hotline {
  color: #df0000;
  font-weight: bold;
}

.social-icons-foot {
  margin-top: 5px;
}

.social-icons-foot h3::after {
  width: 60px;
}

.social-icons-foot a {
  color: #df0000;
  font-size: 15px;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons-foot a:hover {
  color: #df0000;
}

.footer-bottom {
  height: 4px;
  background-color: #df0000;
}

.ff {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
    filter: drop-shadow(2px 4px 6px black);
}

.footer-flex {
  display: block;
}

@media (min-width: 768px) {
  .footer{
    padding: 0;
  }
  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-hours,
  .social-icons-foot {
    width: 48%;
  }

  .social-icons-foot {
    margin-top: 0;
  }
}


.carousel-container {
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(300px * 5); /* 5 images */
  height: 250px;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  width: 300px;
  height: 250px;
  flex-shrink: 0;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stroke{
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.hero-carousel {
  position: relative;
  width: 200px;
  height: 52px;
  overflow: hidden;
  margin: auto;
  scale: 1.8;
  margin-top: 10%;
  margin-bottom: 7%;
}

.hero-carousel-track {
  display: flex;
  width: 600px; /* 3 images x 200px */
  transition: transform 0.5s ease-in-out;
}

.hero-carousel img {
  width: 200px;
  height: 52px;
  object-fit: cover;
}



.carousel-container2 {
  width: 320px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel-track2 {
  display: flex;
  width: calc(320px * 5); /* 5 images */
  height: 100px;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide2 {
  width: 320px;
  height: 100px;
  flex-shrink: 0;
}

.carousel-slide2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.carousel-container3 {
  width: 320px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel-track3 {
  display: flex;
  width: calc(320px * 5); /* 5 images */
  height: 100px;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide3 {
  width: 320px;
  height: 100px;
  flex-shrink: 0;
}

.carousel-slide3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-dots {
  text-align: center;
  margin-top: 5px;
}

.hero-dot {
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.hero-dot.hero-active {
  background-color:#d12053;
}



.hero-swiper-container {
  overflow: hidden;
  width: 90vw;
  margin: auto;
  padding: 20px 0;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3; /* 400x300 ratio */
  transition: transform 0.5s ease, opacity 0.5s;
 
  opacity: 1;
  object-fit: cover;
  display: block;
}

.swiper-slide-active img {
  transform: scale(1);
  opacity: 1;
}



.hero-page-connected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Takes full viewport height */
  width: 100vw;
  background-color: #fff; /* Optional: background color */

}

.hero-bird-gif {
  width: 100px; /* Adjust as needed */
  height: auto;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 2px gray);
}


@keyframes popInOut {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.pop-loop {
  animation: popInOut 2s ease-in-out infinite;
  transition: transform 0.3s ease;
}
